<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpiIvu-dxboPhKNX3GAQj6kkNiI5COYVU</string>
	<key>GCM_SENDER_ID</key>
	<string>930285007094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.HabitManager</string>
	<key>PROJECT_ID</key>
	<string>habitmanager-c5aeb</string>
	<key>STORAGE_BUCKET</key>
	<string>habitmanager-c5aeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:930285007094:ios:b343b19d3938e165c87cd7</string>
</dict>
</plist>
